<img class="book-thumbnail" ng-src="{{ vm.book.volumeInfo.imageLinks.smallThumbnail }}"/>

<div class="book-details">
    <h3>{{ vm.book.volumeInfo.title }}</h3>

    <p>
        {{ vm.book.volumeInfo.publishedDate}}
        <br/>
        <span ng-repeat="author in vm.book.volumeInfo.authors">
            {{ author }}
        </span>
        <br/>
        {{ vm.book.volumeInfo.publisher }}
    </p>

    <p ng-bind-html="vm.book.searchInfo.textSnippet"></p>
    <button ng-click="vm.buy()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-download">&nbsp;Download</span>
    </button>

</div>
