<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Example</h1>

            <h2 it-mouseover="vm.mouseOver()">{{vm.title}}</h2>

            <hr/>

            <it-current-daytime></it-current-daytime>

            <hr/>

            <it-panel title="hello">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti deserunt ducimus
                enim facilis illum maiores, molestias neque nihil perspiciatis provident qui
                ratione tenetur, ullam. Dignissimos harum id mollitia sunt totam.
            </it-panel>


            <form class="form-horizontal"
                  role="form"
                  name="form"
                  ng-submit="vm.submit(form.$valid)">

                <it-form-field label="Name">
                    <input name="name"
                           ng-model="name"
                           type="text"
                           ng-minlength="3"
                           ng-required="true"/>
                </it-form-field>

                <it-form-field label="Email">
                    <input name="email2"
                           ng-model="email"
                           type="email"
                           ng-minlength="3"
                           ng-required="true"/>
                </it-form-field>

                <it-number-form-field
                    ng-model="numberModel"
                    label="Zahl"
                    name="number"
                    ng-disabled="false"
                    ng-required="true"
                    form="form">
                </it-number-form-field>

                <button ng-disabled="form.$invalid" class="btn btn-primary">Senden</button>

            </form>

        </div>
    </div>
</div>
