<div class="form-group"
     ng-class="{
        'has-error': form[name].$invalid,
        'field-required': required
     }">

    <label ng-if="label" class="col-md-3 control-label" ng-bind-html="label"></label>

    <div class="col-md-9">
        <ng-transclude></ng-transclude>

        <div ng-if="form[name].$invalid" class="help-block">
            <div ng-messages="form[name].$error" ng-messages-multiple ng-include="'/scripts/widgets/itFormFieldErrors.html'"></div>
            <div ng-repeat="errorMessage in form[name].errorMessages">
                <span ng-bind="errorMessage"></span>
            </div>
        </div>

        <div ng-if="debug()">
            <pre ng-bind="form[name]|json"></pre>
        </div>
    </div>
</div>
