<div class="form-group"
     ng-class="{'has-error': (form[name].$invalid && form[name].$dirty)}">

    <label class="col-sm-3 control-label">{{label}}</label>

    <div class="col-sm-9">
        <div class="input-group">

            <input ng-model="ngModel"
                   type="text"
                   name="{{name}}"
                   ng-required="ngRequired()"
                   ng-disabled="ngDisabled()"
                   it-focus-for-keypad
                   it-validate="vm.validate()"
                   class="form-control">

            <it-number-input-button
                    sv-disabled="ngDisabled()"
                    field="form[name]"
                    class="input-group-btn"
                    title="{{title}}"
                    ng-model="ngModel"></it-number-input-button>
        </div>
        <div ng-if="form[name].$invalid" class="help-block">
            <div ng-messages="form[name].$error" ng-messages-multiple ng-include="'/scripts/widgets/itFormFieldErrors.html'"></div>
            <div ng-repeat="errorMessage in form[name].errorMessages">
                <span ng-bind="errorMessage"></span>
            </div>
        </div>
    </div>
</div>
