<div class="container">
    <div class="row">
        <h2>Tasks</h2>

        <form class="form-horizontal" novalidate name="vm.form" ng-submit="vm.addTask()">

            <it-form-field label="Name">
                <input name="taskInput"
                       ng-model="taskInput"
                       type="text"
                       ng-minlength="3"
                       ng-required="true"/>
            </it-form-field>

            <it-form-field label="Email">
                <input name="email"
                       ng-model="email"
                       type="email"
                       ng-pattern="/.*@akros.ch/"
                       ng-minlength="10"
                       ng-maxlength="30"
                       ng-required="true"/>
            </it-form-field>

            <button ng-disabled="vm.form.$invalid" type="submit" class="btn btn-primary">Task hinzufügen</button>
        </form>

        <br>


        <br>
        <br>

        <div ng-hide="vm.tasks.length > 0">
            Kein Task
        </div>

        <ul>
            <li ng-repeat="task in vm.tasks">
        <span ng-class="{'task-done': task.done}" ng-click="vm.clickTask(task, $index)">
         {{task.name}}
        </span>
            </li>
        </ul>
    </div>
</div>
